{% extends '@LearningCenter/base.html.twig' %}

{% block main %}
    {% if errors %}
        {% for error in errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    {% endif %}
    <a class="btn btn-outline-primary" href="{{ url('learningcenter_projects.create') }}">New Project</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Beschreibung</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td><a href="{{ project.url }}">{{ project.name }}</a></td>
                    <td>{{ project.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}