{% extends '@LearningCenter/modules/grade/base.html.twig' %}

{% block grade %}
    <table class="table highlight">
        <thead>
          <tr>
              <th style="text-align: center !important">lfd. Nr.</th>
              <th>Vorname</th>
              <th>Nachname</th>
              <th></th>
          </tr>
          <tr class="grey lighten-3">
              <th style="text-align: center !important">Tutor</th>
              <th>{{ teacher.firstname }}</th>
              <th>{{ teacher.lastname }}</th>
              <th><a href="mailto:{{teacher.email}}"><i class="material-icons">contact_mail</i></a></th>
          </tr>
        </thead>

        <tbody>
        {% for student in students %}            
          <tr>
            <td style="text-align: center !important">1</td>
            <td>{{ student.firstname }}</td>
            <td>{{ student.lastname }}</td>
            <td><a href="mailto:{{student.email}}"><i class="material-icons">contact_mail</i></a></td>
          </tr>
        {% endfor %}            
        </tbody>
      </table>
{% endblock %}