{% extends '@LearningCenter/modules/project/base.html.twig' %}
{% trans_default_domain 'project' %}

{% block project %}
    {{ form_start(form) }}
    <div class="row">
        <div class="input-field col s12">
            {{ form_widget(form.name) }}
            {{ form_label(form.name) }}
            <span class="helper-text" data-error="wrong" data-success="right">{{ form_help(form.name) }}</span>
        </div>


        <div class="input-field col s12">
            {{ form_widget(form.description) }}
            {{ form_label(form.description) }}
            <span class="helper-text" data-error="wrong" data-success="right">{{ form_help(form.description) }}</span>
        </div>

        <div class="col s12">
            {{ form_widget(form.save) }}
        </div>
    </div>
    {{ form_end(form) }}

    {% if is_granted('project.remove', project) %}
        <div class="row">
            <div class="col s12">
                <div class="card red darken-4">
                    <div class="card-content white-text">
                        <span class="card-title">{% trans %}project.delete{% endtrans %}</span>
                        <p>{% trans %}project.delete.text{% endtrans %}</p>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal-delete">{% trans %}project.delete.button{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal Structure -->
        <div id="modal-delete" class="modal">
            <div class="modal-content">
                <h4>{% trans %}project.delete.confirm{% endtrans %}</h4>
                <p>{% trans with {'{name}': project.name} %}project.delete.confirm.text{% endtrans %}</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="modal-close waves-effect waves-green btn-flat" href="{{ url('lc_projects_delete', {'id': project.id}) }}">{% trans %}project.delete.confirm.button{% endtrans %}</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
