
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{% block title %}Learning Center{% endblock %}</title>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ asset('bundles/learningcenter/js/app.css') }}" rel="stylesheet" />
        <script src="{{ asset('bundles/learningcenter/js/app.js') }}"></script>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col s12 m10 l6 offset-l3 offset-m1 login-box">
                <figure class="login-logo text-center">
                    <img src="{{ logo.path }}">
                </figure>
                {% if hasError %}
                    <p class="error">{{ message }}</p>
                {% endif %}
                <form action="{{ path('contao_frontend_login') }}" id="lc_login" method="post">
                    <div class="formbody form-group">
                        <input name="FORM_SUBMIT" value="lc_login" type="hidden">
                        <input name="REQUEST_TOKEN" value="{{ token }}" type="hidden">
                        <input name="_target_path" value="{{ url('lc_dashboard') }}" type="hidden">
                        <input name="_failure_path" value="{{ url('learningcenter_login') }}" type="hidden">
                        <input name="_always_use_target_path" value="0" type="hidden">

                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input name="username" id="username" placeholder="m.mustermann" class="text form-control" value="" type="text">
                            <label for="username">Benutzername</label>
                        </div>

                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock</i>
                            <input name="password" id="password" placeholder="Passwort123" class="text password form-control" value="" type="password">
                            <label for="password">Passwort</label>
                        </div>

                        <p>
                            <label>
                                <input name="autologin" id="autologin" value="1" class="checkbox" type="checkbox">
                                <span>Angemeldet bleiben</span>
                            </label>
                        </p>
                        <div class="widget widget-submit">
                            <button type="submit" class="submit btn btn-primary btn-login">Anmelden</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </body>
    </html>