
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{% block title %}Learning Center{% endblock %}</title>
        <link href="{{ asset('bundles/learningcenter/js/app.css') }}" rel="stylesheet" />
        <script src="{{ asset('bundles/learningcenter/js/app.js') }}"></script>
    </head>
    <body>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-sm-10 col-md-6 col-xl-6 login-box">
                <figure class="login-logo text-center">
                    <img src="{{ logo.path }}">
                </figure>
                {% if hasError %}
                    <p class="error">{{ message }}</p>
                {% endif %}
                <form action="{{ path('contao_frontend_login') }}" id="lc_login" method="post">
                    <div class="formbody form-group">
                        <input name="FORM_SUBMIT" value="lc_login" type="hidden">
                        <input name="REQUEST_TOKEN" value="{{ token }}" type="hidden">
                        <input name="_target_path" value="{{ url('lc_dashboard') }}" type="hidden">
                        <input name="_failure_path" value="{{ url('learningcenter_login') }}" type="hidden">
                        <input name="_always_use_target_path" value="0" type="hidden">

                        <div class="widget widget-text input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
                            </div>
                            <input name="username" id="username" placeholder="Benutzername" class="text form-control" value="" type="text"><br>
                        </div>

                        <div class="widget widget-password input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                            </div>
                            <input name="password" id="password" placeholder="Passwort" class="text password form-control" value="" type="password">
                        </div>
                        <div class="widget widget-checkbox form-check">
                            <fieldset class="checkbox_container form-check-label">
                                <span><input name="autologin" id="autologin" value="1" class="checkbox" type="checkbox"> <label for="autologin">Angemeldet bleiben</label></span>
                            </fieldset>
                        </div>
                        <div class="widget widget-submit">
                            <button type="submit" class="submit btn btn-primary btn-login">Anmelden</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </body>
    </html>